<h2>Your Dashboard</h2>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <% if current_user.babysitter? %>
      <%= render partial: 'dashboard/babysitter/availabilities', locals: { availabilities: @availabilities } %>
      <%= render partial: 'dashboard/babysitter/bookings', locals: { bookings: @bookings } %>
    <% elsif current_user.family? %>
      <%= render partial: 'dashboard/family/bookings', locals: { bookings: @bookings } %>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6">
    <% if current_user.babysitter? %>
      <h3>Add your availability</h3>
      <p>
        View your profile now to add availabilities to your calendar.
      </p>
      <%= link_to 'Add your availability', current_user, class: 'btn btn-primary' %>
    <% else %>
      <h3>Update your profile</h3>
      <p>
        Make sure your profile is up to date! Let us know about your family and your needs, so that candidates can be
        best informed when accepting your bookings.
      </p>
      <%= link_to 'Update your profile', '', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>