<h2><%= @user.full_name %></h2>
<div class="row user-info">
  <div class="col-xs-12">
    <p>Location: <%= @user.location %></p>
    <p>Member since: <%= @user.created_at.strftime '%B %Y' %></p>
    <p>
      <%= @user.description %>
    </p>
  </div>
</div>

<% if @user.babysitter? %>
<div class="row schedule-wrap">
  <div class="col-xs-12">
    <h3>My Schedule</h3>

    <div
        class="calendar"
        id="calendar"
        data-user="<%= @user.id %>"
        data-user-role="<%= @user.role.name %>"
        data-time="<%= @days_from_this_week.first.strftime('%Q').to_i %>">
      <div class="calendar-title"><%= format_week_of_string @days_from_this_week %></div>
      <div class="calendar-body">
        <div class="calendar-day">
          <div class="calendar-heading"></div>
          <% [*0..23].each do |hour| %>
            <div class="calendar-hour">
              <%= format_hour hour %>
            </div>
          <% end %>
        </div>
        <% @days_from_this_week.each do |day| %>
          <div class="calendar-day">
            <div class="calendar-heading"><%= day.strftime '%A, %B %-d' %></div>
            <% [*0..23].each do |hour| %>
              <%= availability_for_hour(@availabilities, day, hour) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="selected-window-wrap hide" id="selected-window-wrap">
      <p>
        Selected:
        <span id="selected-window"></span>
        <button id="submit-window">Submit</button>
      </p>
    </div>
  </div>
</div>
<% end %>